# [ Prisma ]

# Production
DATABASE_URL_PRODUCTION="postgresql://postgres.<password>:<project>@<region>.pooler.supabase.com:5432/postgres?pgbouncer=true"

# Staging
DATABASE_URL_STAGING="postgresql://postgres.<password>:<project>@<region>.pooler.supabase.com:5432/postgres?pgbouncer=true"
